---
// src/components/products/ProductSection.astro
import Icon from "../ui/Icon.astro";

interface Props {
  products: any[];
  title: string;
  icon?: string;
  gradient?: string; // Para personalizar el color del banner grande
}

const { products, title } = Astro.props;

const mainProduct = products[0];
const gridProducts = products.slice(1, 5); // Tomamos los siguientes 4 para completar la fila
---

{
  products.length > 0 && (
    <section class="py-12">
      <div class="container mx-auto px-4">
        <div class="flex justify-center items-center mb-8">
          <div class="flex items-center gap-3">
            <Icon id="icon-bag" name="bag" class="w-8 h-8 text-orange-500" />
            <h2 class="font-body text-3xl sm:text-4xl font-medium text-gray-900 dark:text-white">
              {title}
            </h2>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-4 sm:gap-4 lg:gap-4">
          {/* Producto Principal (Banner Ancho) */}
          {mainProduct && (
            <div class="col-span-1 sm:col-span-2">
              <article
                class={`group relative bg-linear-to-r from-blue-100 to-teal-200 rounded-2xl overflow-hidden hover:shadow-xl transition-all h-full max-h-64 min-h-64 dark:from-slate-800 dark:to-slate-900 dark:border dark:border-gray-700`}
              >
                <a
                  href={`/tienda/${mainProduct.slug}`}
                  class="h-full w-full flex flex-col"
                >
                  <div class="absolute top-4 left-4 right-4 z-10 flex flex-col gap-2">
                    <h3 class="font-bold text-2xl text-black group-hover:text-black/50 transition-colors line-clamp-2 dark:text-white dark:group-hover:text-red-600">
                      {mainProduct.data.title}
                    </h3>
                    <div class="flex flex-wrap gap-2">
                      {mainProduct.data.salePrice && (
                        <span class="w-fit px-3 py-1 bg-linear-to-r from-red-600 to-red-800 text-white text-xs font-bold rounded-lg">
                          Ahorras S/{" "}
                          {(
                            mainProduct.data.price - mainProduct.data.salePrice
                          ).toFixed(0)}
                        </span>
                      )}
                    </div>
                  </div>
                  <div class="relative h-72 flex justify-end items-center overflow-hidden">
                    <img
                      src={mainProduct.data.images[0]}
                      alt={mainProduct.data.title}
                      class="h-full w-auto max-w-full object-contain transform group-hover:scale-125 transition-transform duration-500"
                      loading="lazy"
                    />
                  </div>
                  <div class="absolute bottom-4 left-4 right-4 z-10p-5 flex-1 flex flex-col">
                    <div class="flex items-baseline gap-2">
                      <span class="text-sm text-black group-hover:text-black/50 dark:text-white">
                        A
                      </span>
                      <span class="text-2xl font-bold text-black group-hover:text-black/50 dark:text-white">
                        S/{" "}
                        {mainProduct.data.salePrice?.toFixed(2) ||
                          mainProduct.data.price.toFixed(2)}
                      </span>
                    </div>
                    {mainProduct.data.salePrice && (
                      <div class="text-sm text-black/30 dark:text-white/30">
                        De{" "}
                        <span class="line-through">
                          S/ {mainProduct.data.price.toFixed(2)}
                        </span>
                      </div>
                    )}
                  </div>
                </a>
              </article>
            </div>
          )}

          {/* GRILLA DE PRODUCTOS RESTANTES */}
          {gridProducts.map((p) => {
            const discount = p.data.salePrice
              ? Math.round((1 - p.data.salePrice / p.data.price) * 100)
              : null;
            return (
              <article class="group relative bg-white rounded-2xl overflow-hidden hover:shadow-xl transition-all duration-300 border border-gray-100 max-h-64 min-h-64 dark:border-gray-700 dark:bg-black">
                <a
                  href={`/tienda/${p.slug}`}
                  class="h-full w-full flex flex-col"
                <a
                  href={`/tienda/${p.slug}`}
                  class="h-full w-full flex flex-col"
                >
                  <div class="relative p-4 flex flex-col gap-1 min-h-27.5 bg-linear-to-r from-slate-100 to-slate-300 group-hover:from-blue-100 group-hover:to-teal-300 transition-colors duration-300 dark:from-slate-800 dark:to-slate-900 dark:group-hover:from-gray-700 dark:group-hover:to-gray-800">
                    <h3 class="font-bold text-base text-gray-900 group-hover:text-red-600 transition-colors line-clamp-2">
                      {p.data.title}
                    </h3>
                    {p.data.shortDescription && (
                      <p class="text-[0.75rem] text-gray-600 line-clamp-1">
                        {p.data.shortDescription}
                      </p>
                    )}
                    {p.data.salePrice && (
                      <span class="w-fit px-2 py-0.5 bg-red-50 text-red-700 text-[0.7rem] font-bold rounded border border-red-100">
                        Ahorras {(p.data.price - p.data.salePrice).toFixed(0)}
                        S/
                      </span>
                    )}
                  </div>

                  <div class="grid grid-cols-2 gap-2 flex-1">
                    <div class="p-4 flex flex-col justify-end">
                      {p.data.salePrice ? (
                        <div class="flex flex-col">
                          <span class="text-xs text-gray-500 line-through">
                            S/ {p.data.price.toFixed(2)}
                          </span>
                          <span class="text-lg font-bold text-gray-900">
                            S/ {p.data.salePrice.toFixed(2)}
                          </span>
                        </div>
                      ) : (
                        <span class="text-lg font-bold text-gray-900">
                          S/ {p.data.price.toFixed(2)}
                        </span>
                      )}
                    </div>
                    <div class="relative h-32 w-full p-2">
                      <img
                        src={p.data.images[0]}
                        alt={p.data.title}
                        class="w-full h-full object-contain transform group-hover:scale-155 transition-all"
                      />
                    </div>
                  </div>

                  {discount && (
                    <span class="absolute top-2 right-2 px-2 py-1 bg-red-600 text-white text-[0.65rem] font-bold rounded-full">
                      -{discount}%
                    </span>
                  )}
                </a>
              </article>
            );
          })}

          <article class="group relative bg-linear-to-tr from-red-600 to-red-800 rounded-2xl overflow-hidden hover:shadow-xl transition-all duration-300">
            <a
              href="/productos"
              class="h-full flex flex-col items-center justify-center p-6"
            >
              <span class="text-white font-semibold inline-flex items-center gap-2 tracking-wider mb-4">
                Ver más productos
                <Icon
                  id="icon-arrow-right-square"
                  name="arrow-right-square"
                  class="w-6 h-6"
                />
              </span>
              <div class="grid grid-cols-2 gap-2">
                <div>
                  <img src="/uploads/accesorios.webp" />
                </div>
                <div>
                  <img src="/uploads/moviles.webp" alt="" />
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>
    </section>
  )
}
